.container0 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.container {
    min-width: 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* ------------sdiebar-------------- */

.sidebar {
    background-color: rgb(255, 255, 255);
    /* margin: 0 25px; */
    padding: 10px 0 15px;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 8px;
}

.heading {
    margin: 0px 12px;
}

.heading h1 {
    font-size: 16px;
    font-weight: 500;

}

.reference-links {
    padding: 5px 20px;
    border-bottom: 2px solid rgb(226, 226, 226);
}

.reference-links ul {
    list-style: none;
    font-size: 16px;
    font-weight: 300;
}

.reference-links ul li {
    margin: 15px 0;
}

.reference-links ul li a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* -----------------Footer------------------ */

.footer {
    color: rgb(112, 112, 112);
    border-top: 2px solid rgb(226, 226, 226);
    text-align: center;
    margin-top: 8px;
    line-height: 22px;
    font-size: 12px;
    padding: 0 30px;
    line-height: 2.3em;
}

.useful-links {
    padding: 15px;
}

.useful-links span {
    justify-items: center;
    padding: 6px 10px;
}

.footer-tag {
    color: black;
    font-size: 13px;
    font-weight: 1000;
}


/* -----------------main content-------------------------------- */

.main-content {
    flex-basis: 70%;
    margin-left: 24px;
}

.invitations {
    border-radius: 8px;
    background-color: white;
    padding: 8px 20px;
    margin-bottom: 24px;
}

.invite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.profile-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-user h1 {
    font-size: 18px;
}

.profile-user h2 {
    font-size: 14px;
}

.response {
    display: flex;
    align-items: center;
}

.response button {
    padding: 10px 30px;
    margin: 0 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
}

.accept {
    background-color: rgb(55, 108, 255);
    color: rgb(255, 255, 255);
}

.ad {
    border-radius: 8px;
    background-color: white;
    padding: 18px 20px;
    margin-bottom: 24px;
}

.ad h1 {
    margin-bottom: 12px;

}

.ad h2 {
    font-size: medium;
    margin-bottom: 20px;
}

.ad button {
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(233, 203, 37);
    padding: 5px 25px;
    border-radius: 50px;
    border: none;
}