/* Stylesheet for body content :- Left sidebar and Right sidebar */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #ede9e9;
    color: rgb(75, 75, 75);
}

a {
    text-decoration: none;
    color: rgb(75, 75, 75);
}


.container {
    height: 300vh;
    margin: 0px 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* ------------------Left-Sidebar------------------ */


.left-sidebar {
    max-width: 225px;
    align-items: center;
    float: left;
}

.profile-box {
    background-color: white;
    border-radius: 8px;
}

.profile-box img {
    width: 100%;
    height: 55px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.profile-info {
    text-align: center;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
    margin-top: -45px;
}

.profile-info h1 {
    font-size: 16px;
    font-weight: 600;
}

.profile-info h2 {
    padding: 5px 0 10px 0;
    font-size: 12px;
    font-weight: 400;
    color: rgb(75, 75, 75);
}

.profile-info ul {
    border-top: 0.5px solid rgb(186, 186, 186);
    border-bottom: 0.5px solid rgb(186, 186, 186);
    list-style: none;
    padding: 15px 0px;
    width: 100%;
}

.profile-info ul li {
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: 400;
    justify-content: space-between;
}

.profile-info ul li span {
    color: blue;
}

.my-items a {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 5px;
    font-size: 12px;
    font-weight: 600;
}

.my-items img {
    width: 30px;
    height: 25px;
}

.activity {
    margin: 10px 0;
    background-color: white;
    border-radius: 8px;
    padding: 10px 5%;
}

.activity h2 {
    font-size: 12px;
    padding-bottom: 5px;

}

.activity ul {
    list-style: none;
    font-size: 12px;
}

.activity ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.activity ul li a img {
    width: 15px;
    padding: 6px 8px;
    padding-left: 0;
}



/* ----------------Main-Content----------------- */


.main-content {
    max-width: 555px;
    background-color: white;
}



/* -------------right-sidebar------------- */

.right-sidebar {
    max-width: 300px;
    /* align-self: flex-end; */
    float: right;
    height: 100%;
}

.linkedin-news {
    background-color: white;
    font-size: 11px;
    height: fit-content;
    padding: 12px;
    margin-bottom: 10px;
}

.heading {
    font-size: 12px;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heading img {
    width: 14px;
    height: 14px;
}

.news-list ul li {
    list-style: none;
    padding: 6px 0;
}

.news-list ul li h3 {
    font-size: 14px;
}

.news-list ul li h4 {
    font-size: 12px;
    font-weight: 500;
    padding-top: 5px;
    padding-left: 15px;
    color: grey;
}

/* -----------------Footer------------------ */

.footer {
    color: rgb(112, 112, 112);
    border-top: 1px solid rgb(202, 202, 202);
    text-align: center;
    line-height: 22px;
    font-size: 12px;

}

.sticky {
    position: sticky;
    top: 65px;
}

.useful-links {
    padding: 15px;
}

.useful-links span {
    justify-items: center;
    padding: 6px 10px;
}

.footer-tag {
    color: black;
    font-size: 13px;
    font-weight: 1000;
}